.list__menu {
    display: flex;
    justify-content: space-around;
    height: 35px;
}

.list__menu-li {
    font-weight: bold;
    padding: 1em .5em;
    border-radius: .3em;
    cursor: pointer;
    transition: .5s;
    border-bottom: 1px transparent white;
}

.list__menu-li:hover {
    border-bottom: 2px solid #3bd151aa;
    padding: 1.3em;
}

@media (min-width: 600px) {
    .list__menu{
        margin: 10px;
        font-size: 20px;
    }
    
    .list__menu-li {
        padding: 1em 1.3em;
    }

    .menu__info{
        display: none;
    }
}
